.carousel {
    width: 1200px;
    display: inline-block;
}

.carousel__frame {
    height: 326px;
    width: 100%;
    overflow: hidden;
}

.carousel__content {
    height: 100%;
    white-space: nowrap;
    transition: all 0.5s ease-in-out;
}




/* Desktop */
@media screen and (max-width: 1919px) {
    .carousel { width: 918px; }
}

/* Laptop */
@media screen and (max-width: 1440px) {
}

@media screen and (max-width: 1056px) {
}

/* Mobile */
@media screen and (max-width: 768px) {
}

@media screen and (max-width: 500px) {
}