.carousel {
    width: 1260px;
    display: inline-block;
}

.carousel__frame {
    height: 400px;
    width: 100%;
    overflow: hidden;
}

.carousel__content {
    height: 100%;
    white-space: nowrap;
    transition: all 0.5s ease-in-out;
}




/* Desktop */
@media screen and (max-width: 1919px) {
    .carousel { width: 918px; }
}

/* Laptop */
@media screen and (max-width: 1440px) {
    .carousel { width: 760px; }
}

@media screen and (max-width: 1056px) {
    .carousel { width: calc(100% - 24rem); }
}

/* Mobile */
@media screen and (max-width: 768px) {
    .carousel__frame { height: 200px; }
    .carousel { width: 100%; }
}

@media screen and (max-width: 500px) {
}