header {
    display: flex;
    height: 100px;
    width: 1728px;
    justify-content: space-between;
    margin: 0 auto;
    user-select: none;
}

header div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.themeMenuDesktop {
    margin: 0 0 0 30px;
}

.themeMenuMobile {
    display: none;
}

header div img {
    -webkit-user-drag: none;
}

.themeLight,
.themeDark,
.themeSearch {
    height: 1.8rem;
    filter: brightness(0%);
}


/* Desktop */
@media screen and (max-width: 1919px) {
    header { width: 1376px; }
}

/* Laptop */
@media screen and (max-width: 1440px) {
    header { width: 1024px; }
}

@media screen and (max-width: 1056px) {
    header { width: calc(100% - 2rem); }
}

/* Mobile */
@media screen and (max-width: 768px) {
    .themeMenuDesktop { display: none; }
    .themeMenuMobile { display: block; }
}