.twitter {
    width: 400px;
    float: right;
    overflow: hidden;
}

/* Desktop */
@media screen and (max-width: 1919px) {
    .twitter { width: 300px; }
}

/* Laptop */
@media screen and (max-width: 1440px) {
    .twitter { width: 240px; }
}

@media screen and (max-width: 1056px) {
    .twitter { width: calc(100% - 72rem); }
}

/* Mobile */
@media screen and (max-width: 768px) {
    .twitter { width: 100%; margin-top: 60px; }
}

@media screen and (max-width: 500px) {
}