.typography__frame {
    display: flex;
    justify-content: space-around;
    /* height: 780px; */
    height: calc(100vh - 100px - 70px);
}
.typography__text__frame,
.typography__image__frame {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.typography__text__frame { flex: 2; margin-left: 100px; }
.typography__image__frame { flex: 1; margin-right: 100px; align-items: center; }

.typography__text__top { margin-left: 40px; }
.typography__text__mid { margin-left: 80px; }
.typography__text__bot { margin-left: 40px; }

.typography__text__bold {
    font-weight: bold;
    font-size: 8rem;
}

.typography__text__bsolid { font-size: 7rem; }
.typography__text__nsolid { margin: 0 20px; }
.typography__image { width: 400px; }

/* Desktop */
@media screen and (max-width: 1919px) {
    .typography__image { width: 400px; }
    .typography__text__frame { margin-left: 0px; }
    .typography__image__frame { margin-right: 0px; }
}

/* Laptop */
@media screen and (max-width: 1440px) {
    .typography__image { width: 350px; }
}

@media screen and (max-width: 1056px) {
    .typography__text__bold { font-size: 7rem; }
    .typography__text__bsolid { font-size: 6rem; }
}

/* Mobile */
@media screen and (max-width: 768px) {
    .typography__frame { height: 550px; } 

    .typography__image__space { flex: 1; }
    .typography__image__value { flex: 1; }
    .typography__image { width: 220px; }

    .typography__text__top { margin-left: 30px; }
    .typography__text__mid { margin-left: 60px; }
    .typography__text__bot { margin-left: 30px; }

    .typography__text__bold { font-size: 5.8rem; }
    .typography__text__bsolid { font-size: 4.8rem; }
    .typography__text__nsolid { font-size: 0.8rem; margin: 0 10px; }
}

@media screen and (max-width: 500px) {
    .typography__image__frame { flex: 3; }
    .typography__image { width: 150px; }

    .typography__text__frame { flex: 7; }
    .typography__text__top { margin-left: 10px; }
    .typography__text__mid { margin-left: 30px; }
    .typography__text__bot { margin-left: 10px; }

    .typography__text__bold { font-size: 3.6rem; }
    .typography__text__bsolid { font-size: 2.6rem; }
    .typography__text__nsolid { font-size: 0.6rem; margin: 0 10px; }
}